---
import Header from "../components/header.svelte";
import RecentPost from "../components/recentpost.astro";
import Layout from './layouts/Layout.astro'
const allPosts = await Astro.glob("../pages/posts/*.md");
---
<Layout>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/blogicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!--Icons-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    
    <link rel="stylesheet" href="/home.css" />
    <title>Chancellor Ceti | Blog on the most interesting things in the world</title>
  </head>
  <body>
    <Header />
    <h1 id="title">Chancellor Ceti</h1>
    <p>
                I'm Chancellor Ceti, reader of much and understand-er of little. STEM intersts are physics, math, economics, and Rust programming(🦀🚀). Non-STEM interests are films, literature, music, history, politics (primarily US and Indian), and international relations. My posts here will mostly concern these topics, as well as occasionally griping about how painful life is.<p>

            <p>See about page (top menu) for more details on who exactly created this train wreck of a website and specifics of what my interests are.</p>
    <hr />
    <h2 id="recent_h">Recent Posts</h2>
    <div id="recent">
      {
        allPosts
           .sort((a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate))
          .slice(0, 100)
          .map((post) => (
            <RecentPost
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              pubdate={post.frontmatter.pubDate}
              tags={post.frontmatter.tags}
              url={post.url}
              width={"90vw"}
              height={"200vh"}
            />
          ))
      }
    </div>
  </body>
</html>
</Layout>
